<section class="table">
  <div class="row">
    <div class="small-12">
      <div class="table__heading">
        <span>HIGHLIGHTS</span>
        <h3 class="table__heading-title">Do more with our app</h3>
      </div>
      <ul class="table__tablist">
        <li><a href="#">Communication</a></li>
        <li><a href="#">Scheduling</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Live Chat</a></li>
      </ul>
    </div>
  </div>
</section>