<section class="table">
  <div class="row">
    <div class="small-12 columns">
      <div class="table__heading">
        <span>HIGHLIGHTS</span>
        <h3 class="table__heading-title">Do more with our app</h3>
      </div>
      <div class="table__tabs">
        <input type="radio" checked name="tab" id="tab1">
        <label for="tab1">Communication</label>
        <input type="radio" name="tab" id="tab2">
        <label for="tab2">Sheduling</label>
        <input type="radio" name="tab" id="tab3">
        <label for="tab3">Messages</label>
        <input type="radio" name="tab" id="tab4">
        <label for="tab4">Live Chat</label>
        
        <div class="table__tabs-tabcontent" id="communication">
          <div class="table__tabs-tabcontent-wrapper">
            <div class="table__tabs-tabcontent-wrapper-image">
              <img src="/static/images/graphic.png" alt="graphic">
            </div>
            <div>
              <h2 class="table__tabs-tabcontent-wrapper-title">Communicate with ease</h2>
              <p class="table__tabs-tabcontent-wrapper-subtitle">Uniquely underwhelm premium outsourcing with proactive leadership skills.</p>
              <p class="table__tabs-tabcontent-wrapper-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, 
                et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla congue tincidunt ac a nibh. Mauris accumsan 
                pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,</p>
              <p class="table__tabs-tabcontent-wrapper-description">malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. 
                Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor sed tempor malesuada, sem nunc porta augue, 
                in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.</p>
            </div>
          </div>
        </div>

        <div class="table__tabs-tabcontent" id="sheduling">
          <div class="table__tabs-tabcontent-wrapper table__tabs-tabcontent-wrapper--reverse">
            <div class="table__tabs-tabcontent-wrapper-image">
              <img src="/static/images/graphic.png" alt="graphic">
            </div>
            <div>
              <h2 class="table__tabs-tabcontent-wrapper-title">Sheduling</h2>
              <p class="table__tabs-tabcontent-wrapper-subtitle">Uniquely underwhelm premium outsourcing with proactive leadership skills.</p>
              <p class="table__tabs-tabcontent-wrapper-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, 
                et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla congue tincidunt ac a nibh. Mauris accumsan 
                pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,</p>
              <p class="table__tabs-tabcontent-wrapper-description">malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. 
                Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor sed tempor malesuada, sem nunc porta augue, 
                in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.</p>
            </div>
          </div>
        </div>
        <div class="table__tabs-tabcontent" id="messages">
          <div class="table__tabs-tabcontent-wrapper">
            <div class="table__tabs-tabcontent-wrapper-image">
              <img src="/static/images/graphic.png" alt="graphic">
            </div>
            <div>
              <h2 class="table__tabs-tabcontent-wrapper-title">Messages</h2>
              <p class="table__tabs-tabcontent-wrapper-subtitle">Uniquely underwhelm premium outsourcing with proactive leadership skills.</p>
              <p class="table__tabs-tabcontent-wrapper-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, 
                et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla congue tincidunt ac a nibh. Mauris accumsan 
                pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,</p>
              <p class="table__tabs-tabcontent-wrapper-description">malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. 
                Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor sed tempor malesuada, sem nunc porta augue, 
                in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.</p>
            </div>
          </div>
        </div>

        <div class="table__tabs-tabcontent" id="chat">
          <div class="table__tabs-tabcontent-wrapper table__tabs-tabcontent-wrapper--reverse">
            <div class="table__tabs-tabcontent-wrapper-image">
              <img src="/static/images/graphic.png" alt="graphic">
            </div>
            <div>
              <h2 class="table__tabs-tabcontent-wrapper-title">Live Chat</h2>
              <p class="table__tabs-tabcontent-wrapper-subtitle">Uniquely underwhelm premium outsourcing with proactive leadership skills.</p>
              <p class="table__tabs-tabcontent-wrapper-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, 
                et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla congue tincidunt ac a nibh. Mauris accumsan 
                pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,</p>
              <p class="table__tabs-tabcontent-wrapper-description">malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. 
                Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor sed tempor malesuada, sem nunc porta augue, 
                in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.</p>
            </div>
          </div>
        </div>
      </div>


      <!-- <ul class="table__tablist tabs">
        <li class="table__tablist-list"><a class="table__tablist-link" data-togle="tab" href="#communication">Communication</a></li>
        <li class="table__tablist-list"><a class="table__tablist-link" data-togle="tab" href="#sheduling">Scheduling</a></li>
        <li class="table__tablist-list"><a class="table__tablist-link" data-togle="tab" href="#messages">Messages</a></li>
        <li class="table__tablist-list"><a class="table__tablist-link" data-togle="tab" href="#chat">Live Chat</a></li>
      </ul>
      <div class="table__tabcontent">
        <div class="tab-content" id="communication">
          <div class="table__tabcontent-wrapper">
            <div class="table__tabcontent-wrapper-image">
              <img src="/static/images/graphic.png" alt="graphic">
            </div>
            <div class="table__tabcontent-wrapper-content">
              <h2 class="table__tabcontent-wrapper-content-title">Communicate with ease</h2>
              <p class="table__tabcontent-wrapper-content-subtitle">Uniquely underwhelm premium outsourcing with proactive leadership skills.</p>
              <p class="table__tabcontent-wrapper-content-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, 
                et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla congue tincidunt ac a nibh. Mauris accumsan 
                pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,</p>
              <p class="table__tabcontent-wrapper-content-description">malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. 
                Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor sed tempor malesuada, sem nunc porta augue, 
                in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.</p>
            </div>
          </div>
        </div>
        <div class="tab-content" id="sheduling">
          <div class="table__tabcontent-wrapper">
            <div class="table__tabcontent-wrapper-image">
              <img src="/static/images/graphic.png" alt="graphic">
            </div>
            <div class="table__tabcontent-wrapper-content">
              <h2 class="table__tabcontent-wrapper-content-title">Scheduling when you want</h2>
              <p class="table__tabcontent-wrapper-content-subtitle">Uniquely underwhelm premium outsourcing with proactive leadership skills.</p>
              <p class="table__tabcontent-wrapper-content-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, 
                et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla congue tincidunt ac a nibh. Mauris accumsan 
                pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,</p>
              <p class="table__tabcontent-wrapper-content-description">malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. 
                Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor sed tempor malesuada, sem nunc porta augue, 
                in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.</p>
            </div>
          </div>
        </div>
        <div class="tab-content" id="messages">
          <div class="table__tabcontent-wrapper">
            <div class="table__tabcontent-wrapper-image">
              <img src="/static/images/graphic.png" alt="graphic">
            </div>
            <div class="table__tabcontent-wrapper-content">
              <h2 class="table__tabcontent-wrapper-content-title">Realtime Messaging service</h2>
              <p class="table__tabcontent-wrapper-content-subtitle">Uniquely underwhelm premium outsourcing with proactive leadership skills.</p>
              <p class="table__tabcontent-wrapper-content-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, 
                et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla congue tincidunt ac a nibh. Mauris accumsan 
                pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,</p>
              <p class="table__tabcontent-wrapper-content-description">malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. 
                Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor sed tempor malesuada, sem nunc porta augue, 
                in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.</p>
            </div>
          </div>
        </div>
        <div class="tab-content" id="chat">
          <div class="table__tabcontent-wrapper">
            <div class="table__tabcontent-wrapper-image">
              <img src="/static/images/graphic.png" alt="graphic">
            </div>
            <div class="table__tabcontent-wrapper-content">
              <h2 class="table__tabcontent-wrapper-content-title">Live chat when you needed</h2>
              <p class="table__tabcontent-wrapper-content-subtitle">Uniquely underwhelm premium outsourcing with proactive leadership skills.</p>
              <p class="table__tabcontent-wrapper-content-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, 
                et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla congue tincidunt ac a nibh. Mauris accumsan 
                pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,</p>
              <p class="table__tabcontent-wrapper-content-description">malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. 
                Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor sed tempor malesuada, sem nunc porta augue, 
                in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.</p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>