.table {
  padding: 80px 0;
  background-color: $color-white-lilac;

  &__tabs {
    input {
      display: none;

      &:checked + label {
        background: $color-white_2;
        border-top-width: 3px;
        border-color: $color-darkpink $color-white-lilac $color-white_2;
        color: $color-purple;
      }
      
      &:nth-of-type(1):checked ~ .table__tabs-tabcontent:nth-of-type(1),
      &:nth-of-type(2):checked ~ .table__tabs-tabcontent:nth-of-type(2),
      &:nth-of-type(3):checked ~ .table__tabs-tabcontent:nth-of-type(3),
      &:nth-of-type(4):checked ~ .table__tabs-tabcontent:nth-of-type(4) {
        display: block;
      }
    }

    label {
      display: inline-block;
      width: 315.3px;
      text-align: center;
      font-size: 19px;
      font-weight: $normal;
      color: $color-lightpurple;
      background: $color-white-lilac;
      padding: 16px;
      border-color: $color-white-lilac $color-white-lilac $color-white_2;
      border: 1px solid transparent;

      @include breakpoint(medium down) {
        display: flex;
        width: 100%;
      }
    }

    &-tabcontent {
      display: none;

      &-wrapper {
        display: flex;
        padding: 48px;
        background-color: $color-white_2;

        @include breakpoint(medium down) {
          flex-direction: column;
        }

        &-image {
          margin-right: 48px;
        }

        &-title {
          font-size: 45px;
          font-weight: 300;
          color: $color-purple;
          margin-bottom: 8px;
          margin-top: 0;

          @include breakpoint(medium down) {
            font-size: 30px;
          }
        }

        &-subtitle {
          font-size: 16px;
          font-weight: $normal;
          color: $color-lightpink;
          margin-bottom: 32px;
        }

        &-description {
          font-size: 16px;
          font-weight: $normal;
          color: $color-gray;
          line-height: 1.8;
          margin-bottom: 16px;
        }

        &--reverse {
          flex-direction: row-reverse;

          @include breakpoint(medium down) {
            flex-direction: column;
          }
        }
      }
    }
  }

  &__heading {
    text-align: center;
    margin-bottom: 48px;

    span {
      font-size: 12px;
      font-weight: $normal;
      font-family: $font-normal;
      color: $color-gray;
    }

    &-title {
      font-size: 33px;
      font-weight: $semiBold;
      font-family: $font-normal;
      color: $color-purple;
      margin-top: 0;
      margin-bottom: 8px;
    }
  }

  &__tablist {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    @include breakpoint(medium down) {
      display: block;
    }

    &-list {
      list-style: none;
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
      margin-bottom: -1;
    }

    &-link {
      display: block;
      font-size: 19px;
      font-weight: $normal;
      color: $color-lightpurple;
      background-color: $color-white-lilac;
      padding: 16px;
      border-color: $color-white-lilac $color-white-lilac $color-white_2;
      border: 1px solid transparent;
    }
  }
}