<section class="price" id="pricing">
  <div class="row">
    <div class="small-12 columns">
      <div class="price__heading">
        <span>PRICING</span>
        <h3 class="price__heading-title">Upgrade to Pro</h3>
      </div>
    </div>
    <div class="small-12 medium-4 large-4 columns">
      <div class="price__card">
        <span>PERSONAL</span>
        <h2 class="price__card-title">$14/m</h2>
        <ul class="price__card-list">
          <li class="price__card-list-item">10 Projects</li>
          <li class="price__card-list-item">5 GB Storage</li>
          <li class="price__card-list-item">Basic Support</li>
          <li class="price__card-list-item"><del>Collaboration</del></li>
          <li class="price__card-list-item"><del>Reports and analytics</del></li>
        </ul>
        <div class="price__card-btn">
          <a class="price__card-btn-link">Choose this Plan</a>
        </div>
      </div>
    </div>
    <div class="small-12 medium-4 large-4 columns">
      <div class="price__card price__card--white-bg">
        <span>PERSONAL</span>
        <h2 class="price__card-title">$14/m</h2>
        <ul class="price__card-list">
          <li class="price__card-list-item">10 Projects</li>
          <li class="price__card-list-item">5 GB Storage</li>
          <li class="price__card-list-item">Basic Support</li>
          <li class="price__card-list-item">Collaboration</li>
          <li class="price__card-list-item">Reports and analytics</li>
        </ul>
        <div class="price__card-btn">
          <a class="price__card-btn-link">Choose this Plan</a>
        </div>
      </div>
    </div>
    <div class="small-12 medium-4 large-4 columns">
      <div class="price__card">
        <span>PERSONAL</span>
        <h2 class="price__card-title">$14/m</h2>
        <ul class="price__card-list">
          <li class="price__card-list-item">10 Projects</li>
          <li class="price__card-list-item">5 GB Storage</li>
          <li class="price__card-list-item">Basic Support</li>
          <li class="price__card-list-item">Collaboration</li>
          <li class="price__card-list-item">Reports and analytics</li>
        </ul>
        <div class="price__card-btn">
          <a class="price__card-btn-link">Choose this Plan</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="price__heading">
        <span>FAQ</span>
        <h3 class="price__heading-title">Frequently Asked Questions</h3>
      </div>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <div class="price__questions">
        <h4 class="price__questions-title">Can I try before I buy?</h4>
        <p class="price__questions-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
           Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante.
        </p>
        <h4 class="price__questions-title">What payment methods do you accept?</h4>
        <p class="price__questions-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
           Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante.
        </p>
      </div>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <div class="price__questions">
        <h4 class="price__questions-title">Can I change my plan later?</h4>
        <p class="price__questions-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
           Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante.
        </p>
        <h4 class="price__questions-title">Do you have a contract?</h4>
        <p class="price__questions-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
           Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante.
        </p>
      </div>
    </div>
  </div>
</section>