<section class="price">
  <div class="row">
    <div class="small-12 columns">
      <div class="price__heading">
        <span>PRICING</span>
        <h3 class="price__heading-title">Upgrade to Pro</h3>
      </div>
  </div>
</section>