<section class="steps">
  <div class="row">
    <div class="columns small-12 medium-8 large-8 align-items-center">
      <ul class="steps__list">
        <li class="steps__list-item">
          <div class="steps__list-item-circle">1</div>
          <div class="steps__list-item-info">
            <h5 class="steps__list-item-info-title">Create an Account</h5>
            <p class="steps__list-item-info-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu<br> pellentesque pretium obcaecati vel exercitationem</p>
          </div>
        </li>
        <li class="steps__list-item">
          <div class="steps__list-item-circle">2</div>
          <div class="steps__list-item-info">
            <h5 class="steps__list-item-info-title">Share with friends</h5>
            <p class="steps__list-item-info-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu<br> pellentesque pretium obcaecati vel exercitationem</p>
          </div>
        </li>
        <li class="steps__list-item">
          <div class="steps__list-item-circle">3</div>
          <div class="steps__list-item-info">
            <h5 class="steps__list-item-info-title">Enjoy your life</h5>
            <p class="steps__list-item-info-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu<br> pellentesque pretium obcaecati vel exercitationem</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="columns small-12 medium-4 large-4">
      <div class="steps__image">
        <img src="/static/images/iphonex.png" alt="phone">
      </div>
    </div>
  </div>
</section>