/*
* ==================================
*            C O L O R S
* ==================================
*/

/* COOLORS EXPORT */
$black: rgba(0, 15, 8, 1);
$darkgray: rgba(51, 49, 46, 1);
$wheat: rgba(242, 244, 203, 1);
$white: rgba(251, 245, 243, 1);
$orange: rgba(255, 49, 45, 1);
$purple: rgba(74, 13, 143, 1);
$pink: rgba(250, 42, 143, 1);
$lightgray: rgba(255, 255, 255, 0.75);
$white_1: #faf6fb;
$gray: #959094;
$lightpink: #e38cb7;
$pink_2: #f4c9e2;
$darkpink: #d6619c;
$white_2: #fff;
$lightpurple: #b5a4c8;
$lightpink2: #e7d9eb;
/* BASE */
$color-primary: $orange;
$color-secondary: $white;
$color-tertiary: $black;


/* COLORS */
$color-white: $color-secondary;
$color-red: $color-primary;
$color-black: $color-tertiary;
$color-purple: $purple;
$color-pink: $pink;
$color-lightgrey: $lightgray;
$color-white_1: $white_1;
$color-gray: $gray;
$color-lightpink: $lightpink;
$color-pink-2: $pink-2;
$color-darkpink: $darkpink;
$color-white_2: $white_2;
$color-lightpurple: $lightpurple;
$color-lightpink_2: $lightpink2;

