/*
* ==================================
*            C O L O R S
* ==================================
*/

/* COOLORS EXPORT */
$black: rgba(0, 15, 8, 0.3);
$darkgray: rgba(51, 49, 46, 1);
$white: rgba(251, 245, 243, 1);
$purple: rgba(74, 13, 143, 1);
$pink: rgba(250, 42, 143, 1);
$gray-pastel: rgba(255, 255, 255, 0.5);
$gray: #959094;
$lightgray: #d9d3d8;
$blue-chalk: #e7d9eb;
$white-lilac: #faf6fb;
$white_2: #fff;
$lightpink: #e38cb7;
$darkpink: #d6619c;
$pink-pastel: #ffb8f6;
$rose: #f4c9e2;
$lightpurple: #b5a4c8;
$purple-pastel: #cd99d4;

/* BASE */
$color-primary: $purple;
$color-secondary: $white;
$color-tertiary: $black;


/* COLORS */
$color-white: $color-secondary;
$color-black: $color-tertiary;
$color-purple: $color-primary;
$color-lightpurple: $lightpurple;
$color-purple-pastel: $purple-pastel;

$color-pink: $pink;
$color-darkpink: $darkpink;
$color-lightpink: $lightpink;
$color-pink-pastel: $pink-pastel;

$color-rose: $rose;
$color-blue-chalk: $blue-chalk;

$color-gray: $gray;
$color-lightgrey: $lightgray;
$color-gray-pastel: $gray-pastel;

$color-white-lilac: $white-lilac;
$color-white_2: $white_2;
