<section class="screenshots target" id="gallery">
  <div class="row">
    <div class="small-12 columns">
      <div class="screenshots__heading">
        <span>GALLERY</span>
        <h3 class="screenshots__heading-title">App Screenshots</h3>
      </div>
    </div>
    <div class="small-12 columns">
      <div class="screenshots__slider slide">
        <div class="screenshots__slider-image">
          <img src="/static/images/screen1.png" alt="image1">
        </div>
        <div class="screenshots__slider-image">
          <img src="/static/images/screen2.png" alt="image2">
        </div>
        <div class="screenshots__slider-image">
          <img src="/static/images/screen3.png" alt="image3">
        </div>
        <div class="screenshots__slider-image">
          <img src="/static/images/screen1.png" alt="image4">
        </div>
        <div class="screenshots__slider-image">
          <img src="/static/images/screen1.png" alt="image5">
        </div>
        <div class="screenshots__slider-image">
          <img src="/static/images/screen2.png" alt="image6">
        </div>
      </div>
    </div>
  </div>
</section>