.wrapper {
  padding: 48px 0;
  text-align: center;
  background-color: $color-white_2;

  &__images {
    max-width: 100%;
    height: auto;
  }
}

.features {
  padding: 80px 0;
  background-color: $color-white-lilac;

  &__wrapper {
    padding: 48px 0;
    text-align: center;

    &-images {
      max-width: 100%;
      height: auto;
    }
  }

  &__heading {
    text-align: center;
    margin-bottom: 48px;

    span {
      font-size: 12px;
      font-weight: $normal;
      font-family: $font-normal;
      color: $color-gray;
    }

    &-title {
      font-size: 33px;
      font-weight: $semiBold;
      font-family: $font-normal;
      color: $color-purple;
      margin-top: 0;
      margin-bottom: 8px;
    }
  }

  &__card {
    background-color: $color-white_2;
    position: relative;
    padding: 20px;
    display: flex;
    margin-bottom: 32px;

    &::before {
      content: '';
      background: linear-gradient(to bottom, $color-purple 0%, $color-pink 100%);
      color: $color-pink;
      width: 3px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 5px 30px 0 $color-black;
    }

    &-icon {
      position: relative;
      flex-basis: 20%;

      &::after {
        position: absolute;
        content: '';
        width: 48px;
        height: 48px;
        color: $color-darkpink;
        background: linear-gradient(to bottom, $color-purple 0%, $color-pink 100%);
      }
    }

    &-body {
      flex-basis: 80%;

      &-header {
        font-size: 20px;
        font-weight: 500;
        color: $color-purple;
        margin-bottom: 12px;
        margin-top: 0;
      }

      &-description {
        font-size: 14px;
        color: $color-gray;
        margin: 0;
      }
    }
  }
}