{# Extends #}
{% extends 'templates/base.njk' %}

{% block main %}
  {% include "components/header/header.njk" %}
  {% include "components/home/home-landing/landing.njk" %}
  {% include "components/home/home-feature/feature.njk" %}
  {% include "components/home/home-discover/discover.njk" %}
  {# {% include "components/home/home-table/table.njk" %}
 #}
  {% include "components/home/home-dublephone/dublephone.njk" %}




  {% include "components/footer/footer.njk" %}
{% endblock %}
