{# Extends #}
{% extends 'templates/base.njk' %}

{% block main %}
  {% include "components/header/header.njk" %}
  {% include "components/home/home-landing/landing.njk" %}
  {% include "components/home/home-feature/feature.njk" %}
  {% include "components/home/home-discover/discover.njk" %}
  {% include "components/home/home-table/table.njk" %}
  {% include "components/home/home-dublephone/dublephone.njk" %}
  {% include "components/home/home-list/list.njk" %}
  {% include "components/home/home-slider/client-slider.njk" %}
  {% include "components/home/home-screenshots/screenshots.njk" %}
  {% include "components/home/home-price/price.njk" %}
  {% include "components/home/home-download/download.njk" %}




  {% include "components/footer/footer.njk" %}
{% endblock %}
