<section class="download">
  <div class="row">
    <div class="small-12 columns">
      <div class="download__image">
        <img src="http://place-hold.it/48x48" alt="image">
      </div>
      <h2 class="download__title">Download Anywhere</h2>
      <p class="download__description">Available for all major mobile and desktop platforms. Rapidiously visualize optimal ROI
         rather than enterprise-wide methods of empowerment.</p>
      <div class="download__links">
        <a class="download__links-link" href="#"><img src="http://place-hold.it/158x52" alt="app store"></a>
        <a class="download__links-link" href="#"><img src="http://place-hold.it/158x52" alt="google play"></a>
      </div>
      <span>*Works on iOS 10.0.5+, Android Kitkat and above.</span>
    </div>
  </div>
</section>