<section class="discover">
  <div class="row">
    <div class="large-medium-6 large-6 medium-6 small-12 column discover--margin-left">
      <div class="discover__wrapper">
        <div class="discover__wrapper-image">
          <img src="http://place-hold.it/48x48">
        </div>
        <h2 class="discover__wrapper-title">Discover our App</h2>
        <p class="discover__wrapper-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
          Obcaecati vel exercitationem eveniet vero maxime ratione</p>
        <a href="#" class="discover__wrapper-btn">READ MORE</a>
      </div>
    </div>
    <div class="discover__photo">
      <img src="/static/images/perspective_phone.png" alt="phone">
    </div>
  </div>
</section>