.client-slider {
  padding: 80px 0;
  background-color: $color-white_2;

  &__heading {
    text-align: center;
    margin-bottom: 48px;

    span {
      font-size: 12px;
      font-weight: $regular;
      font-family: $font-normal;
      color: $color-gray;
    }

    &-title {
      font-size: 33px;
      font-weight: $semiBold;
      font-family: $font-normal;
      color: $color-purple;
      margin-top: 0;
      margin-bottom: 8px;
    }
  }

  &__carousel {
    position: relative;

    .slick-next {
      background: url('/static/images/icons/svg/arrow-forward.svg') 0 0 no-repeat;
      right: 0;
    }

    .slick-prev {
      background: url('/static/images/icons/svg/arrow-backward.svg') 0 0 no-repeat;
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      height: 34px;
      width: 36px;
      text-indent: -99999px;
      overflow: hidden;
      border: none;
    }
  }

  &__wrapper {
    text-align: center;
    margin: 0 auto;

    &-image {
      img {
        width: 110px;
        margin: 30px auto;
        border-radius: 50%;
        box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.07);
      }
    }

    &-info {
      color: $color-gray;
      font-weight: 300;
      font-size: 20px;
      margin-bottom: 16px;
    }

    &-title {
      font-size: 28px;
      font-weight: 300;
      color: $color-purple;
      margin: 24px 0 8px;
    }

    &-subtitle {
      font-size: 16px;
      font-weight: 400;
      color: $color-darkpink;
      margin-bottom: 16px;
    }
  }
}