<section class="client-slider">
  <div class="row">
    <div class="small-12 columns">
      <div class="client-slider__heading">
        <span>TESTIMONIALS</span>
        <h3 class="client-slider__heading-title">What our Customers Says</h3>
      </div>
    </div>
    <div class="small-12 columns">
      <div class="client-slider__carousel">
        <div class="client-slider__wrapper">
          <div class="client-slider__wrapper-image">
            <img src="/static/images/client.png" alt="clients">
          </div>
          <blockquote class="client-slider__wrapper-info">Uniquely streamline
            highly efficient scenarios and 24/7 initiatives.
            Conveniently embrace multifunctional ideas through proactive
            customer
            service. Distinctively conceptualize 2.0
            intellectual capital via user-centric partnerships.
          </blockquote>
          <h5 class="client-slider__wrapper-title">Crystal Gorden</h5>
          <p class="client-slider__wrapper-subtitle">United States</p>
        </div>
        <div class="client-slider__wrapper">
          <div class="client-slider__wrapper-image">
            <img src="/static/images/client.png" alt="clients">
          </div>
          <blockquote class="client-slider__wrapper-info">Uniquely streamline
            highly efficient scenarios and 24/7 initiatives.
            Conveniently embrace multifunctional ideas through proactive
            customer
            service. Distinctively conceptualize 2.0
            intellectual capital via user-centric partnerships.
          </blockquote>
          <h5 class="client-slider__wrapper-title">Crystal Gorden</h5>
          <p class="client-slider__wrapper-subtitle">United States</p>
        </div>
        <div class="client-slider__wrapper">
          <div class="client-slider__wrapper-image">
            <img src="/static/images/client.png" alt="clients">
          </div>
          <blockquote class="client-slider__wrapper-info">Uniquely streamline
            highly efficient scenarios and 24/7 initiatives.
            Conveniently embrace multifunctional ideas through proactive
            customer
            service. Distinctively conceptualize 2.0
            intellectual capital via user-centric partnerships.
          </blockquote>
          <h5 class="client-slider__wrapper-title">Crystal Gorden</h5>
          <p class="client-slider__wrapper-subtitle">United States</p>
        </div>
      </div>
    </div>
  </div>
</section>