<section class="landing" id="landing">
<div class="row">
  <div class="small-12 columns">
    <h1 class="landing__title">Mobile App Landing Page Template</h1>
    <p class="landing__subtitle">The one and only solution for any kind of mobila app landing needs. Just change the screenshots and texts and you
      are good to go.</p>
    <div class="landing__wrapper"><img class="landing__wrapper-image" src="static/images/iphonex.png" alt="iphone"></div>
  </div>
</div>
</section>