.landing {
  background: linear-gradient(135deg, $color-purple 0%, $color-pink 100%);
  text-align: center;
  padding-top: 80px;

  &__title {
    font-size: 60px;
    font-weight: $light;
    font-family: $font-normal;
    margin-bottom: 24px;
    color: $color-white;

    @include breakpoint(medium down) {
      font-size: 40px;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: $light;
    font-family: $font-normal;
    color: $color-lightpink;
    margin: 0 auto;
    max-width: 800px;

    @include breakpoint(medium down) {
      font-size: 17px;
    }
  }

  &__wrapper {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden;
    margin-top: 16px;

    @include breakpoint(medium down) {
      padding-bottom: 100%;
    }

    &-image {
      max-width: 100%;
    }
  }
}