<footer class="footer">
  <div class="row">
    <div class="column large-6 small-12">
      <div class="footer__info">
        <p class="footer__info-description">1485 Pacific St, Brooklyn, NY 11216 USA</p>
        <span><a href="mailto:#">support@mobileapp.com</a></span>

      </div>
    </div>
    <div class="column large-6 small-12">
    </div>
  </div>
</footer>