.header {
  background: linear-gradient(135deg, $color-purple 0%, $color-pink 100%);
  padding: 16px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  &__logo {
    &-image {
      display: block;
      padding: 5px 0;
    }
  }

  &__mobile {
    #checkbox__toggle {
      display: none;
    }

    @include breakpoint(medium down) {
      #checkbox__toggle {
        position: absolute;
        visibility: hidden;
        right: 10px;

        &:checked ~ ul {
          background: linear-gradient(135deg, $color-purple 0%, $color-pink 100%);
          visibility: visible;
          display: block;
          width: 100%;
          max-height: 100vh;
          height: auto;
          transition: all 1s cubic-bezier(0.5, 1, 0.22, 1);
        }

        &:checked ~ label .header__mobile-icon-line--1 {
          top: 7px;
          width: 32px;
          transform: translateX(-6px) rotate(-45deg) translateY(9px);
        }
  
        &:checked ~ label .header__mobile-icon-line--2 {
          opacity: 0;
        }
  
        &:checked ~ label .header__mobile-icon-line--3 {
          top: 22px;
          width: 32px;
          transform: translateX(-7px) rotate(45deg) translateY(-11px);
        }
      }
    }

    &-icon {
      position: absolute;
      cursor: pointer;
      display: none;
      right: 57px;

      @include breakpoint(medium down) {
        display: block;
      }

      &-line {
        @include breakpoint(medium down) {
          width: 37px;
          height: 2px;
          background-color: $color-white_2;
          position: absolute;
          transition: all 0.6s cubic-bezier(0.5, 0.1, 0, 1.2);
        }

        &--1 {
          top: 5px;
        }

        &--2 {
          top: 17px;
        }

        &--3 {
          top: 29px;
        }
      }
    }

    &-navigation {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;

      @include breakpoint(medium down) {
        width: 100%;
        position: absolute;
        top: 63px;
        left: 50%;
        transform: translatex(-50%);
        padding-top: 33px;
        z-index: 1;
        display: none;
        transition: all 1s cubic-bezier(0.325, 1, 0.22, 1);
      }

      &-list {
        list-style: none;
        padding: 6px 16px;

        @include breakpoint(medium down) {
          padding: 0;
          text-align: center;
          margin-bottom: 22px;
        }
      }

      &-list--download {
        border: 1px solid $color-white;
        border-radius: 5px;
        padding: 6px 21px;
        font-size: 12px !important;
        color: $color-white;

        &:hover {
          background-color: $color-white;
          color: $color-pink !important;
        }
      }

      a {
        font-size: 14px;
        font-weight: $normal;
        font-family: $font-normal;
        color: $color-gray-pastel;
        
        &:hover {
          color: $color-gray-pastel;
        }
      }
    }

    .active {
      color: $color-white_2 !important;
      position: relative;

      &::after {
        content: "";
        border-bottom: 2px solid $color-purple-pastel;
        left: 0;
        right: 0;
        bottom: -7px;
        height: 1px;
        position: absolute;

        @include breakpoint(medium down) {
          border-bottom: none;
        }
      }
    }
  }
}