<section class="dublephone">
  <div class="row">
    <div class="small-12 medium-6 large-6 column">
      <div class="dublephone__image">
        <img src="/static/images/dualphone.png" alt="dublephone">
      </div>
    </div>
    <div class="small-12 medium-6 large-6 column align-items-center">
      <div class="dublephone__wrapper">
        <div class="dublephone__wrapper-image">
          <img src="http://place-hold.it/48x48">
        </div>
        <h2 class="dublephone__wrapper-title">Launch your App</h2>
        <p class="dublephone__wrapper-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Obcaecati vel exercitationem eveniet vero maxime ratione</p>
        <a href="#" class="dublephone__wrapper-btn">READ MORE</a>
      </div>
    </div>
  </div>
</section>